:root {
    --var-azul: #226dd6;
    --var-azul-dark: #154689;
    --var-azul-light: #2881ff;
    --cs: 30px;
}

* {
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
    transition: all 500ms ease-in-out;
}

:focus-visible {
    outline: 2px solid var(--var-azul);
    border-radius: 4px;
}

html {
    background: #A5BAB9;
    scroll-behavior: smooth;
}

a, a:hover, a:focus {
    text-decoration: none;
}

section {
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: center;
    overflow: hidden;
    padding-top: 32px;
    height: calc(100vh - 32px);
}

    section div:first-child {
        height: -webkit-fill-available;
    }

h1, h3, h4 {
    background-color: var(--var-azul);
    padding: 4px 8px;
    border-radius: 6px;
    width: fit-content;
}

h4 {
    border-radius: 0rem 0rem 8px 8px;
}

    h4.neonAzul {
        font-size: 18pt;
        font-weight: bolder;
    }

p, i {
    font-weight: normal;
}

hr {
    border-color: var(--var-azul-light);
    margin-bottom: 10px;
}

:focus-visible {
    outline: 2px solid var(--var-azul);
    border-radius: 4px;
}

.top-menu {
    z-index: 9999;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

    .top-menu ul, .film-menu ul {
        width: 100%;
        padding: 1px 1px 1px 0px;
    }

    .top-menu li, .film-menu li {
        text-wrap: nowrap;
    }

        .top-menu li a, .film-menu li a {
            color: var(--var-azul);
            display: block;
            border-top: 4px solid var(--var-azul);
            padding: 2px 15px 0px 15px;
            background-color: #383e41;
            height: 24px;
        }

            .top-menu li a:hover, .top-menu li .active, .film-menu li a:hover {
                background-color: var(--var-azul);
                color: #383e41;
            }

        .top-menu li h2 {
            text-align: center;
            color: var(--var-azul-light);
            position: absolute;
            left: 0px;
            right: 0px;
            pointer-events: none;
        }

.film-menu {
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    padding-bottom: 0.5rem;
}

    .film-menu li a {
        border-top: none;
    }

.space {
    width: -webkit-fill-available;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.neonAzul {
    background: none;
    font-size: 36pt;
    text-align: center;
    font-weight: 100;
    color: var(--var-azul-dark);
    text-shadow: 0 0 5px #00a5ff, 0 0 15px #00a5ff, 0 0 20px #00a5ff, 0 0 40px #00a5ff, 0 0 60px #0000ff, 0 0 10px #008dff, 0 0 98px #0000ff;
}

.datos, .proyecto, .catalogo {
    border-radius: 1rem;
    border: 2px solid var(--var-azul-dark);
    overflow: hidden;
    margin: 0.5rem;
}

    .datos iframe {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        flex: 1 1 100%;
    }

    .proyecto * {
        color: var(--var-azul-light);
        background-color: transparent;
        padding: 0px;
    }

    .proyecto p {
        margin-left: 10px;
    }

.p-10 {
    padding: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.h-auto {
    height: auto !important;
}

.pizarra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    padding: 1rem;
    height: -webkit-fill-available;
    align-items: center;
}

    .pizarra li {
        margin: 1rem;
        filter: drop-shadow(5px 5px 7px rgba(33, 33, 33, .7));
    }

        .pizarra li span::after {
            content: '';
            position: absolute;
            display: block;
            width: var(--cs);
            height: var(--cs);
            background-color: rgba(33, 33, 33, .2);
            top: 0;
            right: 0;
            border-bottom-left-radius: 10px;
        }

        .pizarra li span {
            text-decoration: none;
            color: #000;
            background: #fff7d1;
            display: block;
            height: 10em;
            width: 10em;
            padding: 1em;
            transform: rotate(-6deg);
            transition: transform .15s linear;
            border-radius: 10px;
            clip-path: polygon(0 0, calc(100% - var(--cs)) 0, 100% var(--cs), 100% 100%, 0 100%);
        }

        .pizarra li:nth-child(even) span {
            transform: rotate(4deg);
            position: relative;
            top: 5px;
            background: #e4f9e0;
        }

        .pizarra li:nth-child(3n) span {
            transform: rotate(-3deg);
            position: relative;
            top: -5px;
            background: #e2f1ff;
        }

    .pizarra div {
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .pizarra li span:hover, .pizarra li span:focus {
        transform: scale(1.15);
        position: relative;
        z-index: 5;
    }

.overflow-auto {
    overflow: auto;
}

#peliculas {
    background-image: url("../assets/movie-background-collage.jpg");
}

    #peliculas .datos {
        height: -webkit-fill-available;
    }

#about {
    background-image: url("../assets/programar.jpg");
}

#proyecto {
    background-image: url("../assets/codigo.jpg");
}
